html,
body {
  font-size: $font-size-base;
  text-size-adjust: 100%;
  // scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  font-weight: 400;
  // line-height: 1.5;
  line-height: 160%;
  color: $primary-dark-500;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: auto;
  overflow-x: hidden;

  @include darkMode {
    color: $dm-primary-dark-500;
  }
}

.multiline-ellipsis {
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
