footer {
  padding-top: 96px;
  padding-bottom: 40px;

  .section-title {
    // font-size: 138px;
    font-size: calc(toRem(48) + (138 - 48) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 800;
    line-height: 100%;

    span {
      color: $primary-dark-300;
      font-size: 20px;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      display: block;

      @include darkMode {
        color: $dm-primary-dark-300;
      }
    }
  }
}

.footer-item,
.project-info {
  .footer-title,
  .project-title {
    color: $primary-dark-100;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: toRem(16);

    @include darkMode {
      color: $dm-primary-dark-100;
    }

    @media screen and (min-width: 992px) {
      margin-bottom: toRem(24);
    }

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary-dark-100;
      position: relative;
      display: inline-block;
      margin-right: 8px;

      @include darkMode {
        background-color: $dm-primary-dark-100;
      }
    }
  }

  &.send--email {
    .btn--tertiary {
      // font-size: 48px;
      font-size: calc(toRem(28) + (48 - 28) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 800;
      line-height: 100%;
      text-transform: uppercase;
      white-space: normal;
      word-break: break-all;
      display: flex;
      align-items: flex-end;

      &:before {
        width: calc(100% - 52px);
      }

      .btn__label {
        width: calc(100% - 52px);
      }
    }
  }
}

.footer-nav__item {
  &.btn {
    // font-size: 28px;
    font-size: calc(toRem(20) + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
}

.border--top {
  padding-top: 24px;
  border-top: 8px solid $primary-light-700;
  display: inline-block;
  margin-top: 48px;

  @include darkMode {
    border-color: $dm-primary-light-700;
  }
}

.mt--md {
  margin-top: 148px;
}

.mt--lg {
  margin-top: 168px;
}

.footer-item-wrapper {
  display: block;

  @media screen and (min-width: 576px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.footer-item-left {
  .footer-item {
    margin-bottom: toRem(48);

    @media screen and (min-width: 992px) {
      margin-bottom: toRem(64);
    }
  }
}

.footer-item-right {
  .btn-wrapper {
    display: block;
  }
}

.footer-item-right {
  .btn {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.copyright-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  color: $primary-dark-100;

  @include darkMode {
    color: $dm-primary-dark-100;
  }
}
