// LIGHT MODE COLORS
$primary-accent: #f3efe7;
$primary-light: #f8f8f8;
$primary-light-500: $primary-light;
$primary-light-600: #f7f4ef;
$primary-light-700: #ddd0bb;

$primary-dark: #091315;
$primary-dark-100: #c7c7c3;
$primary-dark-300: #808080;
$primary-dark-500: $primary-dark;

// DARK MODE COLORS
$dm-primary-accent: #0b1719;
$dm-primary-light: #f8f8f8;
$dm-primary-light-500: $dm-primary-light;
$dm-primary-light-600: #0c1a1d;
$dm-primary-light-700: #254e56;

$dm-primary-dark: #f1f8f9;
$dm-primary-dark-100: #499bab;
$dm-primary-dark-300: $dm-primary-dark-100;
$dm-primary-dark-500: $dm-primary-dark;

// RANDOM COLOR
$color: #0c1a1d;

// BACKGROUNDS

// BORDERS

// BUTTONS
